html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 50px;
    width: 100%;
    background-color: grey;
    margin-top: 0;
    text-align: center;
    padding: 10px 0 10px;
    border-bottom: 3px blue solid;
    color: white;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border: 3px blue solid;
    border-radius: 25px;
    margin-bottom: 40px;
    width: 500px;
    color: white;
}

.score {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    font-size: 35px;
    text-align: center;
    margin: 10px;
}

.score-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px white solid;
    border-radius: 35px;
    width: 200px;
    margin: 20px;
}

.score-header {
    margin-bottom: 10px;
    font-size: 20px;
}

.score-count {
    font-size: 50px;
    margin: 10px;

}

.choice {
    margin-top: 0;
    font-size: 30px;
}

img {
    height: 50px;
}

.inputs {
    display: flex;
    align-items: end;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 3px blue solid;
    padding: 25px;
    border-radius: 25px;
    width: 80px;
    background-color: grey;
}

button {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

button:hover {
    background-color: blue;
    color: white;
}